body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.calenderTitle {
    color: white;
    font-family: 'Pre', sans-serif;
    text-align: center;
    font-size: 25px;
    margin-top: 20px; /* 추가: 제목과의 간격 */
}

#calender {
    width: 90%; /* 변경: 더 작은 화면에 맞춰 조정 */
    max-width: 80%; /* 추가: 최대 너비 설정 */
    color: white;
    background-color: black;
    border-radius: 5px;
    /* 추가: 달력과의 간격 */
    margin: 20px auto 0;
}

#calender table {
    border-radius: 5px;
    background-color: #2e2e2e;
    border: 3px solid #ffff33;
}

.fc-today-button,
.fc-prev-button,
.fc-next-button {
    background-color: #ffff33 !important;
    color: black !important;
    font-family: 'Pre', sans-serif !important;
}

.fc-day a {
    color: white;
    font-family: 'Pre', sans-serif;
    font-size: 20px;
}

.fc-day-sat a {
    color: #00aaff;
}

.fc-day-sun a {
    color: #ff0000;
}

.fc .fc-col-header-cell-cushion {
    padding-top: 10px;
    padding-bottom: 10px;
}

dialog {
    font-family: 'Pre', sans-serif;
    position: fixed;
    width: 90%; /* 변경: 더 작은 화면에 맞춰 조정 */
    max-width: 400px; /* 추가: 최대 너비 설정 */
    margin: 0;
    z-index: 100;
    padding: 30px;
    background: #9e9e9e;
    color: black;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    border: none;
    border-radius: 10px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: black;
}

@media (max-width: 768px) {
    .calenderTitle {
        font-size: 20px;
    }

    #calender {
        width: 95%; /* 더 작은 화면에 맞춰 더 조정 */
    }

    dialog {
        width: 95%; /* 더 작은 화면에 맞춰 더 조정 */
        max-width: none; /* 최대 너비 해제 */
        padding: 20px; /* 패딩 줄임 */
        font-size: 14px; /* 폰트 크기 줄임 */
    }
}