body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: Arial, sans-serif;
    color: #fff;
}

.container {
    width: 90%; /* 전체 너비의 90%로 설정 */
    max-width: 1200px; /* 최대 너비 설정 */
    margin: 0 auto;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
}

.map {
    width: 100%; /* 전체 너비로 설정 */
    max-width: 1200px; /* 최대 너비 설정 */
    margin: 20px auto;
}

.map h3 {
    font-family: 'Pre', sans-serif;
    color: white;
    font-size: 40px;
    margin-left: 1%;
}

.map h4{
    font-family: 'Pre', sans-serif;
    font-size: 20px;
}

.map #multiMap {
    width: 100%; /* 전체 너비로 설정 */
    height: 600px;
    margin: 2% auto;
    border-radius: 10px;
}


.popupFestivalInfo {
    display: none;
    padding: 10px 16px;
    background: #2e2e2e;
    color: white;
}

.carousel {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-content {
    display: flex;
    transition: transform 0.5s ease-in-out;
    flex-wrap: wrap;
}

.card {
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
}

.card img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

.card-content {
    padding: 20px;
    background-color: #1e1e1e;
    color: white;
    border-radius: 5px;
    position: relative;
}

.card-content .bookmark {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.card-content .cardAddress {
    width: 20px;
    height: 20px;
}

.card-content .cardDate {
    width: 20px;
    height: 20px;
}

.carousel-nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-nav button {
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

#currentLocationButton {
    position: absolute;
    top: 20px;
    right: 50px;
    background-color: #ffff33;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    font-family: 'Pre', sans-serif;
}

#currentLocationButton img {
    width: 45px;
    height: 45px;
}

/* 미디어 쿼리 추가 */
@media (max-width: 768px) {
    .container {
        padding: 10px; /* 패딩을 더 작게 설정 */
    }

    .map h3 {
        font-size: 30px; /* 폰트 크기를 줄임 */
    }

    .map #multiMap {
        height: 400px; /* 지도 높이를 줄임 */
    }

    .card {
        width: 100%; /* 카드 너비를 전체로 설정 */
        box-sizing: border-box;
        padding: 10px;
    }

    .card img {
        width: 120px; /* 이미지 크기를 조정 */
        height: 120px;
    }
}


.city-button{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #2e2e2e;
    background-color: black;
    font-family: 'Pre', sans-serif;
    margin: 10px 0;
    color: white;
    cursor: pointer;
}
.city-button:hover {
    background-color: #ffff33;
    color: black;
}
.city-button.active {
    background-color: #ffff33;
    color: black;
}

.type-button{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #2e2e2e;
    background-color: black;
    font-family: 'Pre', sans-serif;
    margin: 10px 0;
    color: white;
    cursor: pointer;
}
.type-button:hover {
    background-color: #ffff33;
    color: black;
}
.type-button.active {
    background-color: #ffff33;
    color: black;
}

.dropdown-wrapper #type_select{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #2e2e2e;
    background-color: black;
    font-family: 'Pre', sans-serif;
    margin: 10px 0;
    color: white;
    cursor: pointer;
}

.dropdown-wrapper #type_select {
    background-color: #ffff33;
    color: black;
}

.dropdown-wrapper #type_select::after{
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
    transform: translateY(-50%);
    pointer-events: none;
}


.dropdown-wrapper select {
    background-color: #444;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
}

.dropdown-wrapper {
    position: relative;
    display: inline-block;
    margin: 10px 0;
}

.dropdown-wrapper:after {
    content: none; /* 기본적으로 화살표를 표시하지 않음 */
}

/* CSS 애니메이션 */
.district-select-wrapper {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s ease, max-height 0.5s ease;
}

.district-select-wrapper.show {
    max-height: 500px; /* 충분히 큰 값으로 설정 */
    opacity: 1;
}

/* 서울특별시와 경기도 버튼에만 화살표 표시 */
.dropdown-wrapper:has([data-city="서울특별시"]):after,
.dropdown-wrapper:has([data-city="경기도"]):after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
    transform: translateY(-50%);
    pointer-events: none;
}

.dropdown-wrapper .dropdown-content {
    display: none;
    position: absolute;
    background-color: #444;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-wrapper .dropdown-content select {
    width: 100%;
    box-sizing: border-box;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Pre',sans-serif;
    font-size: 16px;
}



.customoverlay {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 6px;
    background-color: #ffff33;
    color: black;
    text-align: center;
    white-space: nowrap;
    padding: 5px;
    font-size: 20px;
    font-family: 'Pre', sans-serif;
}

.dropdown-wrapper {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-wrapper:hover .dropdown-content {
    display: block;
}
/* 모달창 스타일 */
.festivalModal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    padding-top: 60px;
}

.festivalModal-content {
    background-color: #333;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
    color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.festivalModal-content h2 {
    font-family: 'Pre', sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
}

.festivalModalAddress{
    display: flex;
    align-content: center;
    font-family: 'Pre', sans-serif;
}
.festivalModal-content p {
    font-size: 18px;
    margin: 10px 5px;
}

.festivalModal-content a {
    color: white;
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
    font-size: 16px;
    font-family: 'Pre', sans-serif;
}

.festivalModal-content a:visited{
    color: inherit;
}
.festivalModalClose {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.festivalModalClose:hover,
.festivalModalClose:focus {
    color: #f00;
    cursor: pointer;
}




