body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.mainTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 100px;
    position: relative;
}

.mainTopSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
}

.mainTopSearchContainer {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.mainTopSearch input {
    flex: 1;
    padding: 10px 30px;
    height: 28px;
    font-size: 20px;
    background-color: #2e2e2e;
    border: none;
    border-radius: 30px;
    outline: none;
    font-family: 'KBO', sans-serif;
    color: white;
}

.mainTopSearch .searchButton {
    border: none;
    border-radius: 30px;
    cursor: pointer;
    background-color: #2e2e2e;
    position: absolute;
    right: 0;
}

.mainTopLogo {
    font-family: 'Giants', sans-serif;
    color: #ffff33;
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 300px;
}
.mainTopLogo a, a:visited{
    text-decoration: none;
    color: inherit;
}

.mainTopButton {
    display: flex;
}

.myPageButton,
.menuButton {
    background: none;
    border: none;
    cursor: pointer;
}

.myPageButton img {
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.modal {
    display: none;
    position: fixed;
    right: 0;
    width: 300px;
    height: 100%;
    background: rgba(255, 255, 51, 0.6);
    animation: slideInRight 0.5s ease; /* 애니메이션 적용 */
}

.modal-content ul{
    list-style: none;
    font-family: 'KBO',sans-serif;
    font-size: 30px;
    line-height: 2.5;
    padding: 0;
    margin: 0 auto;
    text-align: center;

}

.modal-content li a:link, li a:visited{
    color: inherit;
    text-decoration: none;
}


.contactMenu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 15px 0 20px;
    padding-bottom: 10px;
    font-family: 'KBO',sans-serif;
    color: white;

}
.contactMenu a, a:visited{
    text-decoration: none;
    color: inherit;
}
.contactMenu .on{
    color: #ffff33;
    border-bottom: 2px solid #ffff33;
}

.board{
    width: 100%;

}
.boardTable{
    border-collapse: collapse;
    font-family: 'KBO',sans-serif;
    color: white;
}
.boardTable table{
    display: table;
    box-sizing: border-box;
    text-indent: initial;
    unicode-bidi: isolate;
    border-spacing: 2px;
    border-color: #5e5e5e;
}
.boardTable tbody{
    display: table-row-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}
.boardTable tr{
    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-color: inherit;
}
.pageNumber{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
}

footer {
    margin-top: 50px;
    border-top: 1px solid #2e2e2e;
    color: #5e5e5e;
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}