body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.mainTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 100px;
    position: relative;
}

.mainTopSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
}

.mainTopSearchContainer {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}
.mainTopSearchContainer label {
    width: 100%;
    display: flex;
}

.mainTopSearch input {
    flex: 1;
    padding: 10px 30px;
    height: 28px;
    font-size: 20px;
    background-color: #2e2e2e;
    border: none;
    border-radius: 30px;
    outline: none;
    font-family: 'KBO', sans-serif;
    color: white;
}

.mainTopSearch .searchButton {
    border: none;
    border-radius: 30px;
    cursor: pointer;
    background-color: #2e2e2e;
    position: absolute;
    right: 0;
}

.mainTopLogo {
    font-family: 'Giants', sans-serif;
    color: #ffff33;
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 300px;
}
.mainTopLogo a, a:visited{
    text-decoration: none;
    color: inherit;
}

.mainTopButton {
    display: flex;
}

.myPageButton,
.menuButton {
    background: none;
    border: none;
    cursor: pointer;
}

.myPageButton img {
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.modal {
    display: none;
    position: fixed;
    right: 0;
    width: 250px;
    height: 400px;
    border-radius: 5px 0 0 5px;
    background: rgba(255, 255, 51, 0.6);
    animation: slideInRight 0.2s ease; /* 애니메이션 적용 */
}

.modal-content ul{
    list-style: none;
    font-family: 'KBO',sans-serif;
    font-size: 30px;
    line-height: 2.5;
    padding: 0;
    margin: 0 auto;
    text-align: center;

}

.modal-content li a:link, li a:visited{
    color: inherit;
    text-decoration: none;
}



.mainButton {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.mainButton .popupButton {
    padding: 0;
    width: 500px;
    height: 50px;
    border: none;
    border-radius: 10px 0 0 10px;
    cursor: pointer;
}

.mainButton .popupButton img {
    width: 500px;
    height: 50px;
    border: none;
    border-radius: 10px 0 0 10px;
    cursor: pointer;
}

.mainButton .festivalButton {
    padding: 0;
    width: 500px;
    height: 50px;
    border: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

.mainButton .festivalButton img {
    width: 500px;
    height: 50px;
    border: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

.mainPoster {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.mainPoster video {
    margin-top: 30px;
    width: 65%;
    height: 450px;
    border-radius: 10px;
    border: none;
}

.popular {
    margin-top: 100px;
}

.popularPosterText {
    font-family: 'KBO', sans-serif;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 0 16% 0 16%;
}

.popularText1 {
    color: #ffff33;
    font-size: 50px;
    margin: 0;
}

.popularText2 {
    color: #5e5e5e;
    font-size: 20px;
    margin: 0;
    cursor: pointer;
}

.popularPoster {
    display: flex;
    place-content: center;
}

.popularPoster img {
    display: inline-flex;
    width: 180px;
    height: 250px;
    margin: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.open {
    margin-top: 100px;

}

.openPosterText {
    font-family: 'KBO', sans-serif;
    display: flex;
    align-items: baseline;
    margin: 0 16% 0 16%;
    justify-content: space-between;
}

.openText1 {
    color: #ffff33;
    font-size: 50px;
    margin: 0;
}

.openText2 {
    color: #5e5e5e;
    font-size: 20px;
    margin: 0;
    cursor: pointer;
}

.openPoster {
    display: flex;
    place-content: center;
}

.openPoster img {
    display: inline-flex;
    width: 180px;
    height: 250px;
    margin: 20px;
    border-radius: 10px;
    border: none;
}


footer {
    margin-top: 50px;
    border-top: 1px solid #2e2e2e;
    color: #5e5e5e;
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
