body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.mainTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 100px;
    position: relative;
}

.mainTopSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.mainTopSearchContainer {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.mainTopSearchContainer label {
    width: 100%;
    display: flex;
}

.mainTopSearch input {
    flex: 1;
    padding: 10px 30px;
    height: 28px;
    font-size: 20px;
    background-color: #2e2e2e;
    border: none;
    border-radius: 30px;
    outline: none;
    font-family: 'KBO', sans-serif;
    color: white;
}

.mainTopSearch .searchButton {
    border: none;
    border-radius: 30px;
    cursor: pointer;
    background-color: #2e2e2e;
    position: absolute;
    right: 0;
}

.mainTopLogo {
    font-family: 'Giants', sans-serif;
    color: #ffff33;
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 20%;
}
.mainTopLogo a, a:visited{
    text-decoration: none;
    color: inherit;
}

.mainTopButton {
    display: flex;
}

.myPageButton,
.menuButton {
    background: none;
    border: none;
    cursor: pointer;
}

.myPageButton img {
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.modal {
    display: none;
    position: fixed;
    right: 0;
    width: 250px;
    height: 400px;
    border-radius: 5px 0 0 5px;
    background: rgba(255, 255, 51, 0.6);
    animation: slideInRight 0.2s ease;
}

.modal-content ul {
    list-style: none;
    font-family: 'KBO', sans-serif;
    font-size: 30px;
    line-height: 2.5;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}

.modal-content li a:link,
li a:visited {
    color: inherit;
    text-decoration: none;
}

.contactMenu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 15px 0 20px;
    padding-bottom: 10px;
    font-family: 'KBO', sans-serif;
    color: white;
}

.contactMenu a, .contactMenu a:visited {
    text-decoration: none;
    color: inherit;
}

.contactMenu .on {
    color: #ffff33;
    border-bottom: 2px solid #ffff33;
}


.business {
    font-family: 'KBO', sans-serif;
    color: white;
    background-color: #333;
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
}

.business ul {
    list-style: none;
    padding: 3%;
}

.business li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.business span {
    color: #ffff33;
    display: inline-block;
    width: auto;
}

.businessList input,
.businessList textarea,
.businessList .date {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: white;
    font-family: 'KBO', sans-serif;
    font-size: 18px;
    box-sizing: border-box;
    outline: none;
}

.businessList .image{
    width: 20%;
    height: 20%;
}
.businessList .searchAddress {
    width: 10%;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: #ffff33;
    color: black;
    font-family: 'KBO', sans-serif;
    font-size: 18px;
    cursor: pointer;
    margin-left: 1%;
}
.businessList button:hover {
    background-color: #ffff3388;
}

.businessList .date {
    width: 30%;
}
.businessList p{
    margin: 0 1%;
}

.businessList li {
    display: flex;
    align-items: center;
}

.businessList li span {
    flex-shrink: 0;
    width: 100px;
}
.businessList li input[type="radio"] {
    width: 2%;
    margin: 0 1%;
    padding: 0;
    color: black;
}

.businessList li input[type="radio"] + label {
    font-size: 20px;
    margin: 0;
    padding: 0;
}
.updateButton {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.updateButton button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ffff33;
    color: black;
    font-family: 'KBO', sans-serif;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.updateButton button:hover {
    background-color: #ffff3388;
}

.chatButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px;
    cursor: pointer;
    z-index: 1000;
}

.chatButton img {
    width: 50px;
    height: 50px;
}

/* Chat Modal */
.chatModal {
    display: none;
    position: fixed;
    bottom: 7%;
    right: 2%;
    width: 20%;
    height: 60%;
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1001;
    animation: fadeIn 0.3s ease;
    font-family: 'KBO',sans-serif;
}

.chatModalContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
    font-family: 'KBO', sans-serif;
    color: white;
}

.closeChatModal {
    align-self: flex-end;
    cursor: pointer;
    font-size: 25px;
}

.chatBox {
    flex: 1;
    overflow-y: auto;
    background-color: #2e2e2e;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: 'KBO', sans-serif;
    line-height: 1.5;
}

#chatInput {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #3e3e3e;
    color: white;
    font-family: 'KBO', sans-serif;
}

#sendChatButton {
    background-color: #ffff33;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 6%;
    font-family: 'KBO', sans-serif;
}
#sendChatButton button:hover{
    background-color: #ffff3388;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

footer {
    margin-top: 50px;
    border-top: 1px solid #2e2e2e;
    color: #5e5e5e;
    padding: 20px;
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}