body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'KBO', sans-serif;
}

.mainTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 100px;
    position: relative;
    background-color: #1e1e1e;
}

.mainTopSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.mainTopSearchContainer {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}
.mainTopSearchContainer label {
    width: 100%;
    display: flex;
}

.mainTopSearch input {
    flex: 1;
    padding: 10px 30px;
    height: 28px;
    font-size: 20px;
    background-color: #2e2e2e;
    border: none;
    border-radius: 30px;
    outline: none;
    font-family: 'KBO', sans-serif;
    color: white;
}

.mainTopSearch .searchButton {
    border: none;
    border-radius: 30px;
    cursor: pointer;
    background-color: #2e2e2e;
    position: absolute;
    right: 0;
}

.mainTopLogo {
    font-family: 'Giants', sans-serif;
    color: #ffff33;
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 20%;
}
.mainTopLogo a, a:visited{
    text-decoration: none;
    color: inherit;
}

.mainTopButton {
    display: flex;
}

.myPageButton,
.menuButton {
    background: none;
    border: none;
    cursor: pointer;
}

.myPageButton img {
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.modal {
    display: none;
    position: fixed;
    right: 0;
    width: 250px;
    height: 400px;
    border-radius: 5px 0 0 5px;
    background: rgba(255, 255, 51, 0.6);
    animation: slideInRight 0.2s ease;
}

.modal-content ul {
    list-style: none;
    font-family: 'KBO', sans-serif;
    font-size: 30px;
    line-height: 2.5;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}

.modal-content li a:link,
li a:visited {
    color: inherit;
    text-decoration: none;
}

.searchList {
    margin: 40px 0;
    padding-bottom: 100px;
}

.searchList article {
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
    display: block;
    unicode-bidi: isolate;
}

.searchListOpen {
    font-size: 18px;
    background: #1e1e1e;
    border-bottom: 1px solid #ffff33;
    padding: 3px 10px;
    cursor: pointer;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.searchListOpen p {
    font-weight: 600;
    cursor: pointer;
}

.searchListOpen img.on {
    transform: rotate(180deg);
}

.searchListOpen img {
    transition: all 0.3s;
}

.popupFestivalInfo {
    display: none;
    padding: 10px 16px;
    background: #2e2e2e;
    color: white;
}

.carousel {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-content {
    display: flex;
    transition: transform 0.5s ease-in-out;
    flex-wrap: wrap;
}

.card {
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
}

.card img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

.card-content {
    padding: 20px;
    background-color: #1e1e1e;
    color: white;
    border-radius: 5px;
    position: relative;
}

.card-content .bookmark {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.card-content .cardAddress {
    width: 20px;
    height: 20px;
}

.card-content .cardDate {
    width: 20px;
    height: 20px;
}

.carousel-nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-nav button {
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

footer {
    margin-top: 50px;
    border-top: 1px solid #2e2e2e;
    color: #5e5e5e;
    text-align: center;
    padding: 20px 0;
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}
