body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.mainPoster {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.mainPoster img {
    margin-top: 30px;
    width: 80%;
    height: 450px;
    border: none;
    border-radius: 10px;
}
.detailInfo{
    font-family: 'KBO',sans-serif;
    color: white;
    justify-content: center;
    display: flex;

}
.detailInfoTitle{
    width: 80%;
    border: none;
}
.detailInfoTitle ul{
    list-style: none;
    display: flex;
    justify-content: right;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    align-items: center;

}
.detailInfoTitle li{
    display: flex;
    align-items: center;
}

.detailInfoTitle ul img{
    margin: 0 20px;
}
.detailInfoTitle ul p{
    font-size: 20px;

}
.detailInfoTitle ul button{
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #5e5e5e;
    font-family: 'KBO',sans-serif;
    margin-right: 12px;
    color: white;
    font-size: 20px;
    padding: 0;
}

.detailInfoTitle .title{
    font-size: 40px;
    margin: 0;
}
.detailInfoTitle .detailDate{
    font-size: 20px;
    margin-top: 10px;
}
.detailInfoTitle .detailAddress{
    font-size: 15px;
    margin-top: 10px;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.detailInfoTime .detailInfoTimeTitle{
    font-size: 25px;
    margin-top: 100px;
}

.detailInfoTitle .detailIntroduceTitle{
    margin-top: 100px;
    font-size: 25px;
}
.detailInfoTitle .detailIntroduce{
    background-color: #2e2e2e;
    border-radius: 5px;
    color: #7e7e7e;
    width: 50%;
    height: auto;
    padding: 20px;
    line-height: 1.5;
}
.detailInfoTitle .detailInfoMapTitle{
    font-size: 25px;
    margin-top: 100px;
}
.detailInfoMap #singleMap{
    width: 70%;
    height: 500px;
}
.detailInfoReviewTitle{
    margin-top: 100px;
    font-size: 25px;
    border-bottom: 3px solid #ffff33;
    color: white;
}
.detailInfoReview input{
    flex: 1;
    margin-left: 5%;
    padding: 10px 20px;
    width: 70%;
    height: 28px;
    font-size: 20px;
    background-color: #2e2e2e;
    border: 3px solid #ffff33;
    border-radius: 30px;
    outline: none;
    font-family: 'KBO', sans-serif;
    color: white;
}
.detailInfoReview button{
    width: 90px;
    height: 40px;
    border: none;
    margin-left: 3%;
    background-color: #ffff33;
    font-family: inherit;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
}
.detailInfoReviewTable table{
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}
.detailInfoReviewTable table td{
    padding: 10px;
}
.detailInfoReviewTable table tr{
    border-bottom: 2px solid yellow;
}
.comment-header {
    align-items: center;
    margin-bottom: 10px;
}
.comment-header .date {
    font-size: 15px;
    color: #aaa;
}
.comment-text {
    margin-bottom: 10px;
}
.comment-img {
    width: 100px;
    height: 100px;
}

.share-modal {
    display: none;
    position: absolute;
    right: 0;
    top: 70%;
    background-color: #2e2e2e;
    padding: 1% 2%;
    border-radius: 10px;
    z-index: 1000;
    font-family: 'KBO',sans-serif;
    font-size: 20px;
}
.share-modal p{
    color: #ffff33;
}

.brandWebsite, .brandSns{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brandWebsite, .brandSns{
    color: white;
}

.brandWebsite a:link, a:visited,
.brandSns a:link, a:visited{
    color: inherit;
    text-decoration: none;
}

.share-modal-content button {
    margin-left: 10px;
    border: none;
    cursor: pointer;
    background-color: #2e2e2e;
}


