body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'KBO', sans-serif;
}

.searchList {
    margin: 40px 0;
    padding-bottom: 100px;
}

.searchList article {
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
    display: block;
    unicode-bidi: isolate;
}

.searchListOpen {
    font-size: 18px;
    background: #1e1e1e;
    border-bottom: 1px solid #ffff33;
    padding: 3px 10px;
    cursor: pointer;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.searchListOpen p {
    font-weight: 600;
    cursor: pointer;
}

.searchListOpen img.on {
    transform: rotate(180deg);
}

.searchListOpen img {
    transition: all 0.3s;
}

.popupFestivalInfo {
    display: none;
    padding: 10px 16px;
    background: #2e2e2e;
    color: white;
}

.carousel {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-content {
    display: flex;
    transition: transform 0.5s ease-in-out;
    flex-wrap: wrap;
}

.card {
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
}

.card img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

.card-content {
    padding: 20px;
    background-color: #1e1e1e;
    color: white;
    border-radius: 5px;
    position: relative;
}

.card-content .bookmark {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.card-content .cardAddress {
    width: 20px;
    height: 20px;
}

.card-content .cardDate {
    width: 20px;
    height: 20px;
}

.carousel-nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-nav button {
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}
