.chatButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
}

.chatButton img {
    width: 50px;
    height: 50px;
}

/* Chat Modal */
.chatModal {
    display: none;
    position: fixed;
    z-index: 1001;
    right: 20px;
    bottom: 80px;
    width: 400px;
    max-width: calc(100% - 40px);
    height: auto;
    overflow: auto;
    font-family: 'Pre', sans-serif;
    color: white;
}

.chatModalContent {
    background-color: #1e1e1e;
    padding: 20px;
    border: none;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.closeChatModal {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.chatBox {
    height: 400px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    line-height: 1.3;
    background-color: #2e2e2e;
}

.message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.userMessage {
    justify-content: flex-end;
    text-align: right;
}

.adminMessage {
    justify-content: flex-start;
    text-align: left;
}

.messageText {
    max-width: 60%;
    padding: 10px;
    border-radius: 10px;
    background-color: #4a4a4a;
    color: black;
    position: relative;
}

.userMessage .messageText {
    background-color: gold;
    order: 1;
}

.adminMessage .messageText {
    background-color: white;
    order: 1;
}

.timestamp-user {
    font-size: 0.8em;
    color: #cccccc;
    margin: 0 5px;
    white-space: nowrap;
    order: 0;
    margin-left: 10px;
}

.timestamp-admin {
    font-size: 0.8em;
    color: #cccccc;
    margin: 0 5px;
    white-space: nowrap;
    order: 2;
    margin-left: 10px;
}

.sender {
    font-weight: bold;
    margin: 10px 0 5px;
    align-self: flex-start;
}

#chatInput {
    width: calc(100% - 80px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #3e3e3e;
    color: white;
    font-family: 'Pre', sans-serif;
    box-sizing: border-box;
}

#sendChatButton {
    width: 70px;
    background-color: #ffff33;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-family: 'Pre', sans-serif;
}

#sendChatButton:hover {
    background-color: #ffff3388;
}

.dateDisplay {
    text-align: center;
    color: #888;
    font-size: 0.8em;
    margin: 10px 0;
}

/* 반응형 디자인 */
@media (max-width: 1024px) {
    .chatModal {
        right: 15px;
        bottom: 70px;
        width: 350px;
    }

    .chatBox {
        height: 350px;
    }
}

@media (max-width: 768px) {
    .chatModal {
        right: 10px;
        bottom: 70px;
        width: 300px;
    }

    .chatButton {
        bottom: 10px;
        right: 10px;
    }

    .chatButton img {
        width: 40px;
        height: 40px;
    }

    .chatBox {
        height: 300px;
    }
}

@media (max-width: 480px) {
    .chatModal {
        right: 10px;
        bottom: 60px;
        width: calc(100% - 20px);
        max-width: 300px;
    }

    .chatBox {
        height: 250px;
    }

    #chatInput {
        width: calc(100% - 65px);
    }

    #sendChatButton {
        width: 60px;
    }
}