.chatButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px;
    cursor: pointer;
    z-index: 1000;
}

.chatButton img {
    width: 50px;
    height: 50px;
}

/* Chat Modal */
.chatModal {
    display: none;
    position: fixed;
    z-index: 1;
    right: 0;
    bottom: 5%;
    width: 20%;
    height: auto;
    overflow: auto;
    font-family: 'KBO', sans-serif;
    color: white;
}

.chatModalContent {
    background-color: #1e1e1e;
    margin: 15% auto;
    padding: 3%;
    border: none;
    border-radius: 10px;
    width: 80%;
    position: relative;
    animation: fadeIn 0.5s;
}

.closeChatModal {
    position: absolute;
    top: 10px;
    right: 25px;
    color: white;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.chatBox {
    height: 200px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    line-height: 1.3;
}

#chatInput {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #3e3e3e;
    color: white;
    font-family: 'KBO', sans-serif;
    width: 72%;
}

#sendChatButton {
    background-color: #ffff33;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-family: 'KBO', sans-serif;
}

#sendChatButton:hover {
    background-color: #ffff3388;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}