body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.mainTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 100px;
    position: relative;
}

.mainTopSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.mainTopSearchContainer {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}
.mainTopSearchContainer label {
    width: 100%;
    display: flex;
}

.mainTopSearch input {
    flex: 1;
    padding: 10px 30px;
    height: 28px;
    font-size: 20px;
    background-color: #2e2e2e;
    border: none;
    border-radius: 30px;
    outline: none;
    font-family: 'KBO', sans-serif;
    color: white;
}

.mainTopSearch .searchButton {
    border: none;
    border-radius: 30px;
    cursor: pointer;
    background-color: #2e2e2e;
    position: absolute;
    right: 0;
}

.mainTopLogo {
    font-family: 'Giants', sans-serif;
    color: #ffff33;
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 20%;
}

.mainTopLogo a, a:visited {
    text-decoration: none;
    color: inherit;
}

.mainTopButton {
    display: flex;
}

.loginButton,
.menuButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

.logoutButton{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

.loginButton {
    font-size: 25px;
    margin-right: 10px;
    color: white;
    font-family: 'KBO', sans-serif;
}

.logoutButton{
    font-size: 25px;
    margin-right: 10px;
    color: white;
    font-family: 'KBO', sans-serif;
}

.userName{
    color: white;
    font-family: 'KBO', sans-serif;
    font-size: 15px;
    display: flex;
    align-items: center;
}


