.modal {
    display: none;
    position: fixed;
    right: 0;
    width: 250px;
    height: 400px;
    border-radius: 5px 0 0 5px;
    background: rgba(255, 255, 51, 0.6);
    animation: slideInRight 0.2s ease; /* 애니메이션 적용 */
}

.modal-content ul{
    list-style: none;
    font-family: 'KBO',sans-serif;
    font-size: 30px;
    line-height: 2.5;
    padding: 0;
    margin: 0 auto;
    text-align: center;

}

.modal-content li a:link, li a:visited{
    color: inherit;
    text-decoration: none;
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
