body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.loginButton{
    display: block;
}
.naverLogin{
    background-color: green;
    width: 700px;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.kakaoLogin{
    background-color: yellow;
    width: 700px;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.googleLogin{
    background-color: white;
    width: 700px;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.alert{
    width: 100px;
    height: 100px;
}

