body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.myPage{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 15px 0 20px;
    padding-bottom: 10px;
    font-family: 'KBO',sans-serif;
    color: white;

}
.myPage a, a:visited{
    text-decoration: none;
    color: inherit;
}
.myPage .on{
    color: #ffff33;
    border-bottom: 2px solid #ffff33;
}


.userInfo{
    font-family: 'KBO', sans-serif;
    color: white;
    width: 80%;
    margin: 20px auto;
}


.userInfo ul{
    list-style: none;
}
.userInfo li{
    margin-bottom: 20px;
}
.userInfo span{
    color: #7e7e7e;
}
.userInfo p{
    font-size: 25px;
    padding-left: 10px;
}

.info input{
    width: 100%;
    height: 30px;
    border: none;
    background-color: black;
    border-bottom: 1px solid #5e5e5e;
    color: white;
    outline: none;
    font-family: 'KBO',sans-serif;
    font-size: 20px;
    margin-top: 10px;
}
.info .searchAddress{
    width: 10%;
    height: 40px;
    border: 1px solid #2e2e2e;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-family: 'KBO',sans-serif;
    font-size: 18px;
    cursor: pointer;
}
.userType,
.userGender{
    display: flex;
    align-items: center;
    margin: 1% auto;
}
.info li input[type="radio"] {
    width: 1%;
    margin: 0% 1%;
    padding: 0;
    color: black;
}

.info li input[type="radio"] + label {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.updateButton{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'KBO',sans-serif;
    color: white;
    gap: 10px;
}
.updateButton button{
    width: 100px;
    height: 40px;
    border: 1px solid #2e2e2e;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-family: 'KBO',sans-serif;
    font-size: 18px;
    cursor: pointer;
}
.updateButton button:hover{
    background-color: #ffff3388;
}

.tag{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'KBO',sans-serif;
    color: white;
    gap: 10px;
    margin-bottom: 40px;
    align-items: baseline;
}
.tag span{
    font-size: 20px;
    margin-right: 30px;
}
.tagButton button{
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #5e5e5e;
    font-family: 'KBO',sans-serif;
    margin-right: 12px;
    margin-bottom: 20px;
}

/* 모달 배경 */
.custom-alert-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* 모달 컨텐츠 */
.custom-alert-content {
    font-family: 'KBO',sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    text-align: center;
    line-height: 1.5;
    font-size: 25px;
}

/* 닫기 버튼 */
.custom-alert-close {
    font-family: 'KBO',sans-serif;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

