body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.myPage{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 15px 0 20px;
    padding-bottom: 10px;
    font-family: 'KBO',sans-serif;
    color: white;

}
.myPage a, a:visited{
    text-decoration: none;
    color: inherit;
}
.myPage .on{
    color: #ffff33;
    border-bottom: 2px solid #ffff33;
}
.userInfo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'KBO',sans-serif;
    color: white;

}
.userInfo ul{
    list-style: none;
}
.userInfo li{
    margin-bottom: 20px;
}
.userInfo span{
    color: #7e7e7e;
}
.userInfo p{
    font-size: 25px;
    padding-left: 10px;
}
.info input{
    width: 1000px;
    height: 30px;
    border: none;
    background-color: black;
    border-bottom: 1px solid #5e5e5e;
    color: white;
    outline: none;
    font-family: 'KBO',sans-serif;
    font-size: 20px;
    margin-top: 10px;
}
.info .searchAddress{
    width: 100px;
    height: 40px;
    border: 1px solid #2e2e2e;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-family: 'KBO',sans-serif;
    font-size: 18px;
    cursor: pointer;
}
.updateButton{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'KBO',sans-serif;
    color: white;
    gap: 10px;
}
.updateButton button{
    width: 100px;
    height: 40px;
    border: 1px solid #2e2e2e;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-family: 'KBO',sans-serif;
    font-size: 18px;
    cursor: pointer;
}

.tag{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'KBO',sans-serif;
    color: white;
    gap: 10px;
    margin-bottom: 40px;
    align-items: baseline;
}
.tag span{
    font-size: 20px;
    margin-right: 30px;
}
.tagButton button{
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #5e5e5e;
    font-family: 'KBO',sans-serif;
    margin-right: 12px;
    margin-bottom: 20px;
}
